{% extends "Admin/base.html" %}

{% block title %}Doctors Management{% endblock %}

{% block content %}
<div class="d-flex justify-content-between align-items-center mb-3">
    <h2>Doctors</h2>
    <a href="{{ url_for('admin.admin_create_doctor')}}" class="btn btn-primary">Add New Doctor</a>
</div>

<form class="mb-4" method="GET" action="{{ url_for('admin.admin_doctors') }}">
    <div class="input-group">

        <select name="search_by" class="form-select" style="max-width: 180px;">
            <option value="name" {% if search_by == 'name'or search_by == '' %}selected{% endif %}>Doctor Name</option>
            <option value="department" {% if search_by == 'department' %}selected{% endif %}>Department</option>
        </select>
        
        <input 
            type="text"
            name="query"
            class="form-control"
            placeholder="Search..."
            value="{{ query }}"
        >

        <button type="submit" class="btn btn-secondary">Search</button>

    </div>
</form>


<table class="table table-striped table-hover">
    <thead class="table-dark ">
        <tr>
            <th class="w-40 text-center">Name</th>
            <th class="w-50 text-center">Department</th>
            <th class="w-10 text-center">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for doctor in doctors %}
        <tr>
            <td class="text-center">Dr. {{ doctor.name }}</td>
            <td class="text-center">{{ doctor.department.name }}</td>
            <td class="text-center">
                <a href="{{url_for('admin.admin_doctors_edit', doctor_id=doctor.doctor_id)}}" class="btn btn-warning btn-sm">Edit</a>
                <a href="{{ url_for('admin.admin_doctors_blacklist', doctor_id=doctor.doctor_id)}}" class="btn btn-sm 
                        {% if doctor.user.blacklisted %}btn-success{% else %}btn-secondary{% endif %}">
                    {% if doctor.user.blacklisted %}
                        Unblacklist
                    {% else %}
                        Blacklist
                    {% endif %}
                </a>
            </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="4" class="text-center">No doctors found.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
