{% extends "base.html" %}
{% block title %}Staff Login{% endblock %}

{% block content %}

<div class="row justify-content-center">
  <div class="col-md-4">
    <div class="card shadow">
      
      <div class="card-header bg-warning text-white text-center">
        <h4 class="mb-0">Staff Login</h4>
      </div>

      <div class="card-body">
  
        <form method="POST" action="{{ url_for('main.staff_login') }}">

          <div class="mb-3">
            <label for="role" class="form-label">Select Role</label>
            <select class="form-select" id="role" name="role" required>
              <option value="" disabled >Choose your role</option>
              <option value="Admin"{% if role == 'Admin' %}selected{% endif %}>Admin</option>
              <option value="Doctor"{% if gender == 'Doctor' %}selected{% endif %}>Doctor</option>
            </select>
          </div>

          <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input 
              type="email"
              class="form-control"
              id="email"
              value="{{ email or '' }}"
              name="email"
              placeholder="Enter your email"
              required>
          </div>

          <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input 
              type="text"
              class="form-control"
              id="username"
              name="username"
              placeholder="Enter your username"
              value="{{ username or '' }}"
              required
              minlength="6" maxlength="20"
              pattern="[A-Za-z0-9]+"
              title="Username must be 6–20 characters long and alphanumeric">
          </div>

          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input 
              type="password"
              class="form-control"
              id="password"
              name="password"
              placeholder="Enter your password"
              required
              minlength="8"
              title="Password must be at least 8 characters long">
          </div>

          <div class="d-grid">
            <button type="submit" class="btn btn-warning text-white">Login</button>
          </div>

        </form>
      </div>

    </div>
  </div>
</div>

{% endblock %}
